<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/tela-cadastro.css')}}">
</head>
<body>

    <div class="wrapper">
        <form action="#" method="post">

            <h1>Cadastro</h1>

            <div class="input-box">
                <input type="text" name = 'Nome' placeholder="Digite seu nome de usuário:" required>
            </div>

            <div class="input-box">
                <input type="email" name = 'Email' placeholder="Digite seu email:" required>
            </div>

            <div class="input-box">
                <input type="password" name = 'Senha' placeholder="Senha:" required>
            </div>

            <button type="submit" class="btn">Cadastrar-se</button>


        </form>
    </div>
    <footer>
        <p>©2023-2100Bem-estarMuscular.net LLC</p>
    </footer>
</body>
</html>