<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="css/tela-login.css">
</head>
<body>

    <div class="wrapper">
        <form action="#" method="post">

            <h1>Login</h1>

            <div class="input-box">
                <input type="text" placeholder="Usuário:" required>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Senha:" required>
            </div>

            <button type="submit" class="btn">Entrar</button>

            <div class="register-link">
                <p>Não possui cadastro? <a href="tela-cadastro.html">Cadastre-se!</a></p>
            </div>

        </form>
    </div>

    <footer>
        <p>©2023-2100Bem-estarMuscular.net LLC</p>
    </footer>

</body>
</html>